<!-- <div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>Id: </span>{{hero.id}}</div>
    <div>
        <label>Name:
            <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
    </div>
</div>

<a *ngFor="let hero of heroes" class="col-1-4"
    routerLink="/detail/{{hero.id}}">
  <div class="module hero">
    <h4>{{hero.name}}</h4>
  </div>
</a>

<button class="delete" title="delete hero" (click)="delete(hero)">Delete</button>
<button (click)="save()">Save</button>
<button (click)="goBack()">Back</button> -->

<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>iD: </span>{{hero.id}}</div><br>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <button class='button' title="Click here to go back to dashboard"  (click)="goBack()">Back</button>
  <button class='button' title="Click here to save the hero details"  (click)="save()">Save</button>

</div>